<form [formGroup]="form" (ngSubmit)="submitForm()">
  <br>
  <div formGroupName="user">
    <div class="form-group" [ngClass]="{'has-error': form.get('user.email').invalid && form.get('user.email').touched }">
      <label for="email">Email</label>
      <input class="form-control" type="email" id="email" formControlName="email">
      <p *ngIf="form.get('user.email').invalid&&form.get('user.email').touched">
        
       <span *ngIf="form.get('user.email').errors['email']" >Enter your email!!</span> 
       <span *ngIf="form.get('user.email').errors['emailIsUsed']" >This email is unavailable!</span>

      </p>
    </div>
    <div class="form-group" [ngClass]="{'has-error':form.get('user.psw').invalid && form.get('user.psw').touched }">
      <label for="psw">Password</label>
      <input class="form-control" type="password" id="psw" formControlName="psw">
      <p *ngIf="form.get('user.psw').invalid && form.get('user.psw').touched">Enter your password!</p>
    </div>
  </div>




  <div class="form-group">
    <label for="ctr">Country</label>
    <select name="" id="ctr" class="form-control" formControlName="ctr">
      <option value="ru">Russia</option>
      <option value="az">Azerbaijan</option>
      <option value="tr">Turkey</option>
      <option value="geo">Georgia</option>
      <option value="ar">Armenia</option>
    </select>
  </div>

  <div class="radio" *ngFor="let ans of answers ">
    <label>
      <input type="radio" [value]="ans.value" formControlName="answ"> {{ans.name}}
    </label>
  </div>


  <div class="form-group">
    <button class="btn btn-success form-control" [disabled]="form.invalid" type="submit">Save</button>
  </div>

  <pre *ngIf="isSubmited">
{{formData | json}}

  </pre>

</form>